In [1]:
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\GDG\Task1.csv")
df.head()

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,I,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9
1,1,I,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8
2,2,M,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9
3,3,F,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11
4,4,I,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8

In [12]:
def crab_processing(df):
    # Drop the 'id' column
    df = df.drop('id', axis=1)
    
    # Drop all rows where 'Height' is 0
    df = df[df['Height'] != 0]
    
    # Create 'LostWeight' column
    weight_diff = df['Weight'] - (df['Shucked Weight'] + df['Viscera Weight'] + df['Shell Weight'])
    df['LostWeight'] = (weight_diff >= 0).astype(int)
    
    # One hot encoding for 'Sex' column
    df = pd.get_dummies(df, columns=['Sex'], prefix='Sex')
    
    return df

In [13]:
df_crab = crab_processing(df.copy())
df_crab.head()

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,LostWeight,Sex_F,Sex_I,Sex_M
0,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9,1,False,True,False
1,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8,1,False,True,False
2,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9,1,False,False,True
3,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11,1,True,False,False
4,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8,1,False,True,False

In [14]:
df_crab.shape

(74027, 12)

In [27]:
# Create X (features) and y (target)
X = df_crab.drop('Age', axis=1)
y = df_crab['Age']

print(f"X shape: {X.shape}")
print(f"y shape: {y.shape}")
print(f"\nX columns: {list(X.columns)}")
print(f"\nFirst few rows of X:")
print(X.head())
print(f"\nFirst few values of y:")
print(y.head())

X shape: (74027, 11)
y shape: (74027,)

X columns: ['Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight', 'Viscera Weight', 'Shell Weight', 'LostWeight', 'Sex_F', 'Sex_I', 'Sex_M']

First few rows of X:
   Length  Diameter  Height     Weight  Shucked Weight  Viscera Weight  \
0  1.5250    1.1750  0.3750  28.973189       12.728926        6.647958
1  1.1000    0.8250  0.2750  10.418441        4.521745        2.324659
2  1.3875    1.1125  0.3750  24.777463       11.339800        5.556502
3  1.7000    1.4125  0.5000  50.660556       20.354941       10.991839
4  1.2500    1.0125  0.3375  23.289114       11.977664        4.507570

   Shell Weight  LostWeight  Sex_F  Sex_I  Sex_M
0      8.348928           1  False   True  False
1      3.401940           1  False   True  False
2      6.662133           1  False  False   True
3     14.996885           1   True  False  False
4      5.953395           1  False   True  False

First few values of y:
0     9
1     8
2     9
3    11
4     8
Name: Age, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (51818, 11)
X_test shape: (22209, 11)
y_train shape: (51818,)
y_test shape: (22209,)

In [ ]:
# Check the 0.3 ratio
total_samples = len(X)
test_samples = len(X_test)
train_samples = len(X_train)

test_ratio = test_samples / total_samples
train_ratio = train_samples / total_samples

print(f"Total samples: {total_samples}")
print(f"Training samples: {train_samples} ({train_ratio:.2%})")
print(f"Test samples: {test_samples} ({test_ratio:.2%})")
print(f"\nVerification: {train_samples} + {test_samples} = {train_samples + test_samples}")